<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeq-B7iqXeXMMC_oyXq4JVuhw-ib7jvOw</string>
	<key>GCM_SENDER_ID</key>
	<string>934526275628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apress.learnc.Otology-Question-Bank</string>
	<key>PROJECT_ID</key>
	<string>otologyquestionbank</string>
	<key>STORAGE_BUCKET</key>
	<string>otologyquestionbank.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934526275628:ios:f9087efa962acb3aa18189</string>
</dict>
</plist>